:root {
    --block-btn-color: #536471;
    --block-btn-color-dim: #8b98a5;
    --block-btn-color-dark: #71767b;
    --block-btn-color-hover: #F91618;
}

div[data-testid="block-btn"] > div {
    box-shadow: 0px 0px 0px 8px rgba(255, 0, 0, 0);
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    border-radius: 18px;
    background: none;
    color: var(--block-btn-color)!important;
}

div[data-testid="block-btn"] > div:hover {
    box-shadow: 0px 0px 0px 8px rgba(255, 0, 0, 0.1);
    background: rgba(255, 0, 0, 0.1);
    color: var(--block-btn-color-hover)!important;
}

/* Adapt to dark mode */
body[style="background-color: rgb(0, 0, 0);"] div[data-testid="block-btn"] > div,
body[style="background-color: #000000;"] div[data-testid="block-btn"] > div {
    color: var(--block-btn-color-dark)!important;
}

body[style="background-color: rgb(0, 0, 0);"] div[data-testid="block-btn"] > div:hover,
body[style="background-color: #000000;"] div[data-testid="block-btn"] > div:hover {
    color: var(--block-btn-color-hover)!important
}

/* Adapt to dim mode */
body[style="background-color: rgb(21, 32, 43);"] div[data-testid="block-btn"] > div,
body[style="background-color: #15202B;"] div[data-testid="block-btn"] > div {
    color: var(--block-btn-color-dim)!important;
}

body[style="background-color: rgb(21, 32, 43);"] div[data-testid="block-btn"] > div:hover,
body[style="background-color: #15202B;"] div[data-testid="block-btn"] > div:hover {
    color: var(--block-btn-color-hover)!important
}